{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-react-jsx"
  ]
}